.amount{
    margin: 0 0 6px 0;
    font-size: 32px;
    font-weight: 600;
}
.unit{
    margin: 0;
    color: #9CA3AE;
    font-size: 16px;
    font-weight: 400;
}
.info_title{
    margin: 0;
    color: #aaa;
    font-size: 18px;
}