.exercises_container{
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.exercises_name_container{
    width: 70%;
    margin: 0 auto;
}

.exercises{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
    margin: 26px 0 0 0;
}

.execises_details_container{
    background-color: #222;
    padding: 0 30px;
}