.break_title{
    margin: 40px 0 0 0;
    font-size: 24px;
}
.break_time{
    display: flex;
    justify-content: space-around;
    background-color: #0d0d0d;
    border-radius: 10px;
    padding: 16px 0;
    margin-top: 40px;
}